absl-py
aiohappyeyeballs
aiohttp
aiosignal
antlr4-python3-runtime
appdirs
astunparse
async-timeout
attrs
backcall
bcrypt
build
cached-property
cachetools
certifi
cffi
charset-normalizer
chex
click
cloudpickle
cmake
conda-pack
contourpy
cryptography
cycler
Cython
decorator
Deprecated
dm-tree
docker-pycreds
entmax
entrypoints
et_xmlfile
etils
filelock
fire
flatbuffers
flax
fonttools
frozenlist
fsspec
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gurobipy
h5py
hf-xet
huggingface-hub
hydra-core
idna
immutabledict
importlib_metadata
importlib_resources
ipykernel
ipython
ipython_genutils
jax
jaxlib
jedi
Jinja2
joblib
jupyter-client
jupyter_core
keras
kiwisolver
libclang
lightning
lightning-utilities
lit
lkh
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mkl-fft
mkl-random
mkl-service
ml-dtypes
# Conflicts with tensorflow via numpy bounds and is not imported by
# the repository code.
# ml4co_kit
mpmath
msgpack
multidict
nest_asyncio
networkx
numba
numpy
nvidia-cublas-cu11
nvidia-cuda-cupti-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
nvidia-cufft-cu11
nvidia-curand-cu11
nvidia-cusolver-cu11
nvidia-cusparse-cu11
nvidia-nccl-cu11
nvidia-nvtx-cu11
oauthlib
omegaconf
opencv-python
openpyxl
opt_einsum
optax
orbax-checkpoint
ortools
packaging
pandas
paramiko
parso
pexpect
pickle5
pickleshare
pillow
platformdirs
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
PuLP
pyasn1
pyasn1_modules
pybind11
pycparser
# pyg-lib
Pygments
PyNaCl
pyparsing
pyproject_hooks
pyrootutils
python-dateutil
python-dotenv
pytorch-lightning
pytz
pyvrp
PyYAML
pyzmq
random-insertion
requests
requests-oauthlib
revtorch
rich
rsa
scikit-learn
scipy
seaborn
sentry-sdk
setproctitle
six
smmap
sympy
tabulate
tensorboard
tensorboard-data-server
tensorboard-logger
tensorboardX
tensordict
tensorflow
tensorflow-cpu
tensorflow-estimator
tensorflow-io-gcs-filesystem
tensorstore
termcolor
threadpoolctl
tomli
toolz
torch
torch-cluster
torch-scatter
torch-sparse
torch-spline-conv
torch_geometric
torchaudio
torchmetrics
torchrl
torchvision
tornado
tqdm
traitlets
triton
typing_extensions
tzdata
urllib3
vrplib
wandb
wcwidth
Werkzeug
wrapt
xgboost
yarl
zipp
